@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'), local('Avenir-Next-Regular'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Regular.woff') format('woff'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'Avenir Next Demi';
  src: local('Avenir Next Demi'), local('Avenir-Next-Demi'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Demi.woff') format('woff'),
      url('%PUBLIC_URL%/fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Avenir Next;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
